.canvasContainer {
  position: absolute;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

/* Apply the same responsive breakpoints */
@media (max-width: 768px) {
  .navbar {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .navbar {
    width: 92%;
  }
}
