.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr; /* Default: 1 column on small screens */
    justify-content: center;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns between 640px and 768px */
    }
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on screens wider than 768px */
    }
  }
  