.resumeEntry {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 950px;
  min-width: 400px;
}

/* Title Row Animations */
@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.titleRow {
  opacity: 1;
  color: var(--text-icon-primary);
  text-shadow: 0 0 var(--padding-xl) var(--text-icon-primary);
  animation: fadeIn 2s ease-out forwards;
  user-select: none;
}

.title {
  font-size: var(--font-xxxl);
  font-weight: var(--font-bold);
}

.employer,
.start,
.end {
  font-size: var(--font-xl);
  font-weight: var(--font-medium);
}

.start,
.end {
  text-align: center;
}

.divider {
  width: 100%;
  position: relative;
  height: 0px;
  border-bottom: 1px dotted var(--text-icon-secondary);
  opacity: 0.2;
}

.bulletPoints {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  gap: 8px;
}
