.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: var(--padding-xl) 0;
  width: 100%;
}

.nav ul li {
  flex: 1;
  text-align: center;
  color: var(--text-icon-secondary);
  transition: color 0.3s ease-in-out, font-weight 0.3s;
}

.nav ul li:hover {
  color: var(--text-icon-primary);
  font-weight: var(--font-bold);
  transition: color 0.3s ease-in-out, font-weight 0.3s;
}

.nav ul li.active {
  color: var(--text-icon-primary);
  font-weight: var(--font-bold);
}
