.resume {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xl);
}

.timelineContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.resumeNav {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--padding-md);
  justify-content: space-between;
  align-items: center;
}

.resumeItem {
  flex-grow: 1;
  height: 6px;
  border-radius: 4px;
  background-color: var(--text-icon-secondary);
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.resumeItem:hover {
  background-color: var(--brand-primary);
}

.active {
  background-color: var(--text-icon-primary);
}

.resumeItem:not(.active):not(:hover) {
  opacity: 0.5;
}

.experienceContainer {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: normal;
  justify-items: center;
  min-height: 100svh;
  padding: var(--padding-xl);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
